<ion-header class="ion-no-border" mode="md">
    <ion-item class="ion-margin" lines="none" color="tertiary"
        href="https://play.google.com/store/apps/details?id=thes.mana.client">
        <ion-icon slot="start" color="danger" name="phone-portrait-outline"></ion-icon>
        <ion-label>
            <h2><b>Open in Mana</b></h2>
            <ion-label color="medium">
                <h3>Play store, App store</h3>
            </ion-label>
        </ion-label>
    </ion-item>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item color="tertiary" class="ion-text-center">
            <ion-label>
                <ion-label>QR mana promptpay</ion-label>
                <img src="assets/imgs/qr.png" routerLink="/payment-result">
                <ion-label>จำนวนเงิน</ion-label>
                <ion-label color="danger">
                    <h1><b>50.00 <small>THB</small></b></h1>
                </ion-label>
            </ion-label>
        </ion-item>
        <ion-card color="tertiary" class="ion-text-center">
            <ion-button fill="clear" shape="round" size="default">
                <ion-icon name="download-outline"></ion-icon>
                <ion-text class="ion-padding-start">
                    บันทึกรูป
                </ion-text>
            </ion-button>
            <ion-button fill="clear" shape="round" size="default">
                <ion-icon name="share-outline"></ion-icon>
                <ion-text class="ion-padding-start">
                    แชร์
                </ion-text>
            </ion-button>
        </ion-card>
        <ion-card color="tertiary" class="ion-padding ion-text-center">
            <p>สแกน QR นี้เพื่อจ่ายเงินหรือกดบันทึกรูปเพื่อนำ QR ไปใช้ยัง Mobile banking</p>
            <ion-text color="danger">
                <p>*ชำระด้วย mana app จะได้ส่วนลดค่าธรรมเนียม</p>
            </ion-text>
        </ion-card>
    </ion-list>

</ion-content>