<ion-header class="ion-no-border" mode="md">
    <ion-item class="ion-margin" lines="none" color="tertiary" [href]="applink">
        <ion-icon slot="start" color="danger" name="phone-portrait-outline"></ion-icon>
        <ion-label>
            <h2><b>Open in Mana</b></h2>
            <ion-label color="medium">
                <h3>Play store, App store</h3>
            </ion-label>
        </ion-label>
    </ion-item>
</ion-header>

<ion-content mode="md">

    <ion-list lines="none" class="ion-no-padding ion-margin-bottom">
        <ion-item color="tertiary">
            <ion-avatar slot="start">
                <img src="assets/imgs/shopLogo.png" />
            </ion-avatar>
            <ion-label>
                <h2>เทศบาลเมืองชะอำ</h2>
                <h3>
                    <ion-icon name="home" slot="start"></ion-icon> ชำระค่าขยะ
                </h3>
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-note>
                จำนวนผู้ใช้บริการ : 200 คน | ความนิยม :
                <ion-icon name="star" color="danger"></ion-icon>
                <ion-icon name="star" color="danger"></ion-icon>
                <ion-icon name="star" color="danger"></ion-icon>
                <ion-icon name="star" color="medium"></ion-icon>
                <ion-icon name="star" color="medium"></ion-icon>| รายละเอียดร้าน
            </ion-note>
        </ion-item>
    </ion-list>

    <ion-list class="ion-no-padding ion-margin-bottom" lines="none" mode="ios">
        <ion-item class="ion-no-padding" color="tertiary">
            <ion-label class="ion-padding-start">
                <h3><b>ค้นหาครัวเรือนที่ต้องการ</b></h3>
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-searchbar animated placeholder="ค้นหาจากบ้านเลขที่"></ion-searchbar>
        </ion-item>
    </ion-list>

    <ion-list class="ion-no-padding" lines="full" mode="ios">

        <ion-item button color="tertiary" routerLink="/payment-add-to-cart">
          <ion-avatar slot="start">
            <img src="assets/imgs/defaultshop.png">
          </ion-avatar>
          <ion-label>
            <h2>190/1 หมู่ 12</h2>
            <p>
              <ion-text color="medium">ต.เมืองเก่า อ.เมืองขอนแก่น จ.ขอนแก่น 40000</ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item button color="tertiary" routerLink="/payment-add-to-cart">
          <ion-avatar slot="start">
            <img src="assets/imgs/defaultshop.png">
          </ion-avatar>
          <ion-label>
            <h2>60 หมู่ 12</h2>
            <p>
              <ion-text color="medium">ต.เมืองเก่า อ.เมืองขอนแก่น จ.ขอนแก่น 40000</ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item button color="tertiary" routerLink="/payment-add-to-cart">
          <ion-avatar slot="start">
            <img src="assets/imgs/defaultshop.png">
          </ion-avatar>
          <ion-label>
            <h2>23/5 หมู่ 12</h2>
            <p>
              <ion-text color="medium">ต.เมืองเก่า อ.เมืองขอนแก่น จ.ขอนแก่น 40000</ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item button color="tertiary" routerLink="/payment-add-to-cart">
          <ion-avatar slot="start">
            <img src="assets/imgs/defaultshop.png">
          </ion-avatar>
          <ion-label>
            <h2>123/56 หมู่ 14</h2>
            <p>
              <ion-text color="medium">ต.เมืองเก่า อ.เมืองขอนแก่น จ.ขอนแก่น 40000</ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item button color="tertiary" routerLink="/payment-add-to-cart">
          <ion-avatar slot="start">
            <img src="assets/imgs/defaultshop.png">
          </ion-avatar>
          <ion-label>
            <h2>2/4 หมู่ 14</h2>
            <p>
              <ion-text color="medium">ต.เมืองเก่า อ.เมืองขอนแก่น จ.ขอนแก่น 40000</ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item button color="tertiary" routerLink="/payment-add-to-cart">
          <ion-avatar slot="start">
            <img src="assets/imgs/defaultshop.png">
          </ion-avatar>
          <ion-label>
            <h2>99/1 หมู่ 14</h2>
            <p>
              <ion-text color="medium">ต.เมืองเก่า อ.เมืองขอนแก่น จ.ขอนแก่น 40000</ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item button color="tertiary" routerLink="/payment-add-to-cart">
          <ion-avatar slot="start">
            <img src="assets/imgs/defaultshop.png">
          </ion-avatar>
          <ion-label>
            <h2>7/3 หมู่ 27</h2>
            <p>
              <ion-text color="medium">ต.ศิลา อ.เมืองขอนแก่น จ.ขอนแก่น 40000</ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item button color="tertiary" routerLink="/payment-add-to-cart">
          <ion-avatar slot="start">
            <img src="assets/imgs/defaultshop.png">
          </ion-avatar>
          <ion-label>
            <h2>7/1 หมู่ 27</h2>
            <p>
              <ion-text color="medium">ต.ศิลา อ.เมืองขอนแก่น จ.ขอนแก่น 40000</ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item button color="tertiary" routerLink="/payment-add-to-cart">
          <ion-avatar slot="start">
            <img src="assets/imgs/defaultshop.png">
          </ion-avatar>
          <ion-label>
            <h2>919/3 หมู่ 27</h2>
            <p>
              <ion-text color="medium">ต.ศิลา อ.เมืองขอนแก่น จ.ขอนแก่น 40000</ion-text>
            </p>
          </ion-label>
        </ion-item>
    
        <ion-item class="ion-text-center ion-no-margin" lines="none">
          <ion-label color="primary">See More</ion-label>
        </ion-item>
      </ion-list>

</ion-content>