<ion-header class="ion-no-border" mode="md">
    <ion-card href="https://play.google.com/store/apps/details?id=thes.mana.client">
        <ion-item lines="none" color="light">
            <ion-icon slot="start" color="danger" name="phone-portrait-outline"></ion-icon>
            <ion-label>
                <h2>Download mana app</h2>
                <h3>Play store, App store</h3>
            </ion-label>
        </ion-item>
    </ion-card>
</ion-header>

<ion-content mode="md">
    <ion-list lines="none">
        <ion-item color="light">
            <ion-avatar slot="start">
                <img src="assets/imgs/defaultshop.png" />
            </ion-avatar>
            <ion-label>
                <h2>Shop Name</h2>
                <h3>
                    <ion-icon name="home" slot="start"></ion-icon> ProductName</h3>
            </ion-label>
        </ion-item>
        <ion-item color="light">
            <ion-note>จำนวนผู้ซื้อ : 200 คน | ความนิยม :
                <ion-icon name="star" color="danger"></ion-icon>
                <ion-icon name="star" color="danger"></ion-icon>
                <ion-icon name="star" color="danger"></ion-icon>
                <ion-icon name="star" color="medium"></ion-icon>
                <ion-icon name="star" color="medium"></ion-icon>| รายละเอียดร้าน</ion-note>
        </ion-item>
    </ion-list>
    <ion-list color="light">
        <ion-item mode="ios" button color="light">
            <ion-label>
                <h2>จำนวนเดือน</h2>
                <h3>1 เดือน</h3>
            </ion-label>
        </ion-item>
        <ion-item class="ion-no-padding" color="light" lines="none">
            <ion-label class="ion-padding-start">
                <h3><b>รายการสินค้าแนะนำ</b></h3>
            </ion-label>
        </ion-item>

        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 190/1 หมู่ 12 เมืองเก่า เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 60 หมู่ 12 เมืองเก่า เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 23/5 หมู่ 12 เมืองเก่า เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 123/56 หมู่ 14 เมืองเก่า เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 2/4 หมู่ 14 เมืองเก่า เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 99/1 หมู่ 14 เมืองเก่า เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 7/3 หมู่ 27 ศิลา เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 7/1 หมู่ 27 ศิลา เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 919/3 หมู่ 27 ศิลา เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>พิมานคอนโดปาร์ค เลขที่ 989 หมู่ 27 ศิลา เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>พิมานคอนโดปาร์ค เลขที่ 7/5 หมู่ 27 ศิลา เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>พิมานคอนโดปาร์ค เลขที่ 12/6 หมู่ 27 ศิลา เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 7/2 หมู่ 27 บ้านเป็ด เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 22/5 หมู่ 10 บ้านเป็ด เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 22/6 หมู่ 10 บ้านเป็ด เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 919/2 หมู่ 27 ในเมือง เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>หมู่บ้านภาภิรมย์ เลขที่ 111/1 หมู่ 18 ในเมือง เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>หมู่บ้านภาภิรมย์ เลขที่ 111/2 หมู่ 18 ในเมือง เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>หมู่บ้านภาภิรมย์ เลขที่ 111/3 หมู่ 18 ในเมือง เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <ion-card color="light" routerLink="/payment">
            <ion-card-content class="ion-text-center">
                <img src="assets/imgs/dffoods.png">
                <ion-label class="ion-text-left">
                    <h2>เลขที่ 56/9 หมู่ 6 ในเมือง เมืองขอนแก่น ขอนแก่น 40000</h2>
                    <h3>
                        <ion-text color="danger">Detail 1, Detail 2</ion-text>
                    </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>